@charset "utf-8";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$small-font-size:  $base-font-size * 0.875 !default; // 14px
$middle-font-size: $base-font-size * 1.125 !default; // 18px
$large-font-size:  $base-font-size * 1.25  !default; // 20px
$huge-font-size:   $base-font-size * 2     !default; // 32px

$base-line-height: 1.5 !default;

$spacing-unit:     20px !default;

// Width of the content area
$content-width:    1000px !default;

// Default color settings
$text-color:        #333333;
$text-second-color: #3F4650;
$text-third-color:  #6B7B8F;
$background-color:  #f5f5f5;
$wrapper-color:     #ffffff;
$heart-color:       #fb866a;
$theme-color:       {{ default "#1DA1F2" .Site.Params.theme_color }};

// Default delimiter
$contact-delimiter: "{{ default "·" .Site.Params.contact_delimiter }}";

@import
  "_sass/sanitize",
  "_sass/base",
  "_sass/responsive",
  "_sass/print",
  "_sass/fonts"
;

section {
  .section-title {
    text-transform: {{ default "uppercase" .Site.Params.section_title }};
    justify-content: {{ default "start" .Site.Params.section_align }};
    border-bottom-style: {{ default "dashed" .Site.Params.section_line }};

    {{ if .Site.Params.section_background }}
    background-color: rgba($theme-color, 0.15);
    {{ end }}

    {{ if ne .Site.Params.section_icon true }}
    .section-icon { display: none; }
    {{ end }}
  }

  {{ if .Site.Params.link_icon }}
  .section-content {
    .markdown, .items {
      a::after {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f08e";
        color: $text-third-color;
        font-size: 0.625em;
        margin: 0 0.375em;
        text-decoration: none;
      }
    }
  }
  {{ end }}
}
