{{ $data := .data | default . }}
{{ $pdfName := .pdfName }}
{{ $basic := $data.basic }}
{{ if $basic }}
<section class="basic">
  {{ if $basic.avatar.show }}
  <div class="avatar-container">
    <img class="avatar" src="/profile.webp" alt="{{ $basic.name }}" width="100" height="100">
    {{ with $pdfName }}
    <a href="/{{ . }}" download class="pdf-download" title="pdf">
      <i class="fa-solid fa-file-pdf" aria-hidden="true"></i> <span>pdf</span>
    </a>
    {{ end }}
  </div>
  {{ end }}

  <div class="header" {{ if ne $basic.avatar.show true }}style="align-items: center;"{{ end }}>
    {{ if $basic.name }}
    <h2 class="name">{{ $basic.name }}</h2>
    {{ if $basic.title }}
    <h3 class="title">{{ $basic.title }}</h3>
    {{ end }}
    {{ end }}
    {{ partial "contact.html" (dict "contact" $data.contact "basic" $basic) }}
  </div>
</section>
{{ end }}

