{{ $data := .data | default . }}
{{ $pdfName := .pdfName }}
{{ $basic := $data.basic }}
{{ if $basic }}
<section class="basic">
  {{ if and $basic.avatar.show $basic.avatar.path }}
  <div class="avatar-container">
    {{ $avatar := resources.Get (strings.TrimPrefix "/assets/" $basic.avatar.path) }}
    {{ with $avatar }}
      {{ $webp := .Resize "100x100 webp" }}
    <img class="avatar" src="{{ $webp.RelPermalink }}" alt="avatar" width="100" height="100">
    {{ end }}
    {{ with $pdfName }}
    <a href="/{{ . }}" download class="pdf-download" title="Download PDF">
      <i class="fa-solid fa-file-pdf"></i> pdf
    </a>
    {{ end }}
  </div>
  {{ end }}

  <div class="header" {{ if ne $basic.avatar.show true }}style="align-items: center;"{{ end }}>
    {{ if $basic.name }}
    <h2 class="name">{{ $basic.name }}</h2>
    {{ if $basic.title }}
    <h3 class="title">{{ $basic.title }}</h3>
    {{ end }}
    {{ end }}
    {{ partial "contact.html" (dict "contact" $data.contact "basic" $basic) }}
  </div>
</section>
{{ end }}

