{{ $basic := .basic }}
{{ if $basic }}
<section class="basic">
  {{ if and $basic.avatar.show $basic.avatar.path }}
  <img class="avatar" src="{{ $basic.avatar.path | relURL }}" alt="avatar">
  {{ end }}

  <div class="header" {{ if ne $basic.avatar.show true }}style="align-items: center;"{{ end }}>
    {{ if $basic.name }}
    <h2 class="name">{{ $basic.name }}</h2>
    {{ if $basic.title }}
    <h3 class="title">{{ $basic.title }}</h3>
    {{ end }}
    {{ end }}
    {{ partial "contact.html" . }}
  </div>
</section>
{{ end }}

