{{ $interest := .interest }}
{{ if and $interest $interest.show }}
<section class="interest" style="order: {{ $interest.order | default 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-hand-spock"></i>
    <h2>{{ $interest.title }}</h2>
  </div>

  <div class="section-content">
    {{ if and $interest.description (gt (len $interest.description) 0) }}
    <div class="description markdown">
      {{ $interest.description | markdownify }}
    </div>
    {{ end }}

    {{ if $interest.items }}
    <div class="items">
      {{ range $interest.items }}
      <div class="item">
        {{ if .link }}
        <a href="{{ .link }}" target="_blank">{{ .item }}</a>
        {{ else }}
        <span>{{ .item }}</span>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

